<div id="Vertretungsplan">
  <h1>Vertretungsplan</h1>
  <div id="vertretungsplan_container">
    <table class="vertretungsplan left">
      <tr>
        <th colspan="8" class="datum">Donnerstag 8. Mai</th>
      </tr>
      <%= render :partial => "vertretungen_klasse", :object => @vertretungen_heute %>
    </table>

    <table class="vertretungsplan right">
      <tr>
        <th colspan="8" class="datum">Donnerstag 8. Mai</th>
      </tr>
      <%= render :partial => "vertretungen_klasse", :object => @vertretungen_morgen %>
    </table>
  </div>



</div>

<div id="Termine">
  <h1>Termine</h1>
  <%= render :partial => "appointment", :collection => @appointments %>
</div>

<div id="Veranstaltungen">
  <h1>Veranstaltungen</h1>
  <div id="Veranstaltung">
    <p class="veranstaltung_ueberschrift">NeueVeranstaltung</p>
    <div id="veranstaltung_bild">
      ...Bild...
    </div>
    <p class="veranstaltung_info">Infos zur Veranstaltung</p>
  </div>
  <div id="Veranstaltung">
    <p class="veranstaltung_ueberschrift">NeueVeranstaltung</p>
    <div id="veranstaltung_bild">
      ...Bild...
    </div>
    <p class="veranstaltung_info">Infos zur Veranstaltung</p>
  </div>
  <div id="Veranstaltung">
    <p class="veranstaltung_ueberschrift">NeueVeranstaltung</p>
    <div id="veranstaltung_bild">
      ...Bild...
    </div>
    <p class="veranstaltung_info">Infos zur Veranstaltung</p>
  </div>
</div>

<div id="infobox">
  <div id="uhr">
    <p>12:23:53</p>
  </div>

  <div id="newsticker">
    <p>neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht</p>
  </div>
</div>