<div id="Vertretungsplan">
  <h1>Vertretungsplan</h1>
  <div id="vertretungsplan_container">
  </div>

</div>

<div id="Nachricht">
  <h3>Wichtige Info</h3>
</div>

<div id="Termine">
  <h2>Termine</h2>
</div>

<div id="infobox">
  <div id="uhr">
    <p>12:23:53</p>
  </div>

  <div id="newsticker">
    <p>neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht  -  neue Nachricht</p>
  </div>
</div>