<div class="item">
  <h1>Einen Termin bearbeiten</h1>
  <%= error_messages_for :appointment %>
  <% form_for [:admin, @appointment] do |f| %>
    <%= render :partial => f %>
    <%= f.submit "Aktualisieren" %>
  <% end %>
</div>