<h1>Termine</h1>
<ul>
  <li><%= link_to "Alle Informationen anzeigen", admin_information_path %></li>
  <li><%= link_to "Neue Information eintragen", new_admin_information_member_path %></li>
  <li><%= link_to "Vertretungsplan bearbeiten", :controller=>:timetable,:action=>:edit %></li>
</ul>