<h1>Termine</h1>
<ul>
  <li><%= link_to "Alle Termine anzeigen", admin_appointments_path %></li>
  <li><%= link_to "Neuen Termin eintragen", new_admin_appointment_path %></li>
  <li><%= link_to "Vertretungsplan bearbeiten", :controller=>:timetable,:action=>:edit %></li>
</ul>