body {
	#overflow: hidden;
  width: 1920px;
  height:1050px;
  background: #dbe9ff;
  font-family: "Lucida Grande";
  font-size:20px;
  margin:0;
}

h1 {
  background-color:#2222ff;
  margin:0;
  padding-left:10px;
  border-bottom:1px solid black;
  font-size:40px;
  text-align: middle;
  color:white;
}
 
div#Vertretungsplan {
  background:white;
  border-right:1px solid black;
  height: 1050px;
  width: 1400px;
  float: left;
}

div#Veranstaltungen {
  margin:0;
  background:white;
  border-left:1px solid black;
  border-bottom:1px solid black;
  height: 983px;
  width: 400px;
  float: right;
}

div#Termine {
  background:white;
  margin-left:10px;
  border-left:1px solid black;
  border-bottom:1px solid black;
  height: 983px;
  width: 508px;
  float:left;
}
 
div#Termin {
  background:white;
  border-top:1px solid black;
  border-bottom:1px solid black;
  margin-top:10px;
  margin-left:0;
  margin-right:0;
}

p.termin_ueberschrift {
  color:#2222ff;
  background-color:#d7d7d7;
  margin-top:0;
	margin-bottom:0;
  padding:2px;
  border-bottom:1px solid black;
}
  
p.termin_info {
  margin:5px;
}

div#Uhr {
	margin-left:10px;
  border-left:1px solid black;
  border-top:1px solid black;
  width:508px;
  height:55px;
  background-color:white;
	float:left;
	margin-top:10px;
	font-size:20px;
	}

.uhr_schrift {
	margin:0;
	padding:0;
	font-size:50px;
	text-align: center;
}

div#Veranstaltung {
  background:white;
  min-height:260px;
  border-top:1px solid black;
  border-bottom:1px solid black;
  margin-top:10px;
  margin-left:0;
  margin-right:0;
}

p.veranstaltung_ueberschrift {
  color:#2222ff;
  background-color:#d7d7d7;
  margin-top:0;
  padding:2px;
  border-bottom:1px solid black;
}
  
p.veranstaltung_info {
  margin-left:20px;
}

div#veranstaltung_bild {
  border:1px solid black;
  height:200px;
  width:150px;
  margin-left:10px;
  margin-right:10px;
  float:left;
}

div#vertretungsplan_container {
	padding: 10px 0px 0px 10px;
}

table.vertretungsplan {
	font-size: 16px;
	width: 540px;
}

table.vertretungsplan .datum {
	text-align: left;
	font-size: 20px;
}

table.right {
}

td.stunde {
	width: 30px;
}

td.klasse {
	font-weight: bold;
}

td.lehrer, td.fach, td.klasse {
	width: 50px;
}

td.raum {
	width: 70px;
}

td.pfeil {
	width: 20px;
}

table.left {
  float: left;	
} 
