<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
       "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8">
  <title>Digitaler Vertretungsplan</title>
  <%= stylesheet_link_tag "lehrer" %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
  <div id="main_content">
    <%= yield %>
    <%= periodically_call_remote :url => {} %>
  </div>
</body>
</html>